<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
    "
  >
    <div class="white-background">
      <h1>Thank you</h1>
      <p>
        Thank You! Dear visitor, I wanted to take a moment to express my
        sincerest gratitude for visiting our webpage. Your presence means a lot
        to us, and we are thrilled that you took the time to explore my website.
      </p>
    </div>
    <form
      action="/"
      style="
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
      "
    >
      <button id="resume">HOME</button>
    </form>
  </body>
</html>
